<p>
  Want to purchase a reading? <%= link_to "Look through our curated tarot readers by clicking here.", stores_url %>
</p>

<p>
  <%= link_to "If you'd like to become a fortune teller, click here.", new_reader_url %>
</p>
